  <section class="comp-section-01">
    <div class="c-wrapper">
      <form  #loginForm="ngForm" class="c-container-01" (ngSubmit)="onSubmit(loginForm)">
        <h4 class="c-item-01">LOGIN</h4>
        <div class="form-group-01">
                    <input id="username" type="text" name="username" value="" autocomplete="new-password" onkeyup="this.setAttribute('value', this.value);" class="gr-textbox" ngModel>
                    <label for="username" class="tb-placeholder-01">
                        Username
                    </label>
                </div>
                <div class="form-group-01">
                            <input id="password" type="password" name="password" value="" autocomplete="new-password" onkeyup="this.setAttribute('value', this.value);" class="gr-textbox" ngModel>
                            <label for="password" class="tb-placeholder-01">
                                Password
                            </label>
                        </div>
<button type="submit" name="button" class="c-item-02">submit</button>
      </form>
    </div>
  </section>
